:root {
  --base: #111;
  --primary: #006EE6;
}

* {
  box-sizing: border-box;
}

body {
  background: #ECECEC;
  color: var(--base);
  font-family: Helvetica, Arial, sans-serif;
}

.form-input::-webkit-outer-spin-button,
.form-input::-webkit-inner-spin-button  {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance:textfield;
}

.form-input {
  border-radius: .25rem;
  background-color: #FDFDFD;
  border: 1px solid #cccccc;
  font-size: 1.5rem;
  padding: .5rem;
  width: 100%;
}

.form-label {
  font-size: 1.5rem;
  display: block;
  line-height: 1.4rem;
  margin-bottom: .05em;
}

.header h1 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.numero-por-extenso {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.numero-por-extenso::first-letter {
  text-transform: uppercase;
}

.container {
  max-width: 960px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: var(--primary);
  border: none;
  border-bottom: 3px solid #0058b8;
  border-radius: .3rem;
  color: #FFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  padding: .8rem 1rem;
  margin-top: .6rem;
}

@media screen and (max-width: 48rem) {
  .header h1 {
    font-size: 2rem;
  }

  .form-input {
    font-size: 1.3rem;
  }

  .numero-por-extenso {
    font-size: 1.3rem;
  }

  .form-label {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 37rem) {
  .btn {
    width: 100%;
  }

  .header h1 {
    font-size: 1.5rem;
  }

  .numero-por-extenso {
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }

  .form-label {
    font-size: 1.1rem;
  }
}
